* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url('../fog-1535201_1920.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.app input {
    width: 60%;
    display: block;
    padding: 8px 0;
    margin: 0 auto;
    border-bottom: 2px solid black;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 30px;
    transition: 0.4s ease;
}

.app ::-webkit-input-placeholder {
    color: black;
    text-align: center;
}

.app button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 8px 50px;
    background-color: transparent;
    color: black;
    border: 3px solid black;
    transition: 0.3s;
    cursor: pointer;
}

.app button:hover {
    background-color: white;
    color: black;

}

.app .result {

    text-align: center;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2%;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);

}

.app .result h5 {
    color: white;
}

h3,
h4 {
    color: white;
    padding: 10px 0;
}

@media (max-width:361px) {
    .app button {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .app input {
        width: 90%;
    }

    h3,
    h4 {
        font-size: 21px;
        padding: 2px;
    }

    .app .result {
        top: 73%;
    }
}

@media(max-width:780px) {

    h3,
    h4 {
        font-size: 23px;
    }

    .app input {
        width: 90%;
    }

    .app ::-webkit-input-placeholder {
        color: black;
        font-size: 20px;
        text-align: center;
    }
}

@media (max-height:800px) {
    .app input {
        width: 90%;
    }

    h3,
    h4 {
        font-size: 23px;
    }
}

@media (max-height:666px) {
    .app input {
        width: 90%;
    }

    h3,
    h4 {
        font-size: 20px;
    }
}

@media(max-height:620px) {
    .app input {
        width: 90%;
    }

    h3,
    h4 {
        font-size: 15px;
    }
}